body {
    background-image: url('https://johnsbrook.github.io/Portfolio_Updated/assets/images/coding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(68, 68, 255);
    font-weight: 600;
}

.headerStyle {
    background-color:rgba(18,18,18,1);
    color: white;
    height: 150px;
    font-family: 'Jost', sans-serif;
}

.navStyle {
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    border-top: rgb(86, 139, 236);
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom: rgb(86, 139, 236);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-family: 'Open Sans', sans-serif;
}

.cardStyle {
    border-radius: 10px;
}

.cardStylePortfolio {
    border-radius: 25px;
    height:100%;
}

cardP {
    height: 205px;
}

.formStyle {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: lavender;
    background-color:  rgba(235, 240, 255, .96);
}

.footerStyle {
    background-color: cornflowerblue;
    color: white;
}